/* src/RegisterForm.css */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .submit-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: rgb(0, 241, 197);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .password-group {
  position: relative;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: calc(100% - 40px);
  padding-right: 40px; /* Ensure there's space for the eye button */
}

.eye-button {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
}